.content-wrqpper {
  display: flex;
  gap: 50px;
}

.add-score {
  display: flex;
  flex-direction: column;
}

.add-score form {
  display: flex;
  flex-direction: column;
}

#leader li {
  list-style: none;
}
